
body {

  text-align: center;
  background-color: black;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

video {
  width: 400px;
}

a {
  color: aquamarine;
}
``
